* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
}

body {
  
  font-size: 18px;
  margin: 0;
  height: 100vh;
  background: #161617;
  color: #fff;
  
  /* Центрирование формы */
 
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 400px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f5b91;
}

form {
  display: flex;
  flex-direction: column;
  
 
}

label {
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

input, select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

button {
  background-color: rgb(40, 115, 165);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(40, 115, 165);
}

input:focus, select:focus {
  outline: none;
  border-color: rgb(40, 115, 165);
}

/* Адаптация для больших экранов (ПК) */
@media screen and (min-width: 1024px) {
  .form-container {
      max-width: 500px;
      padding: 30px;
      margin: 60px 0;
  }
  input::placeholder,
  select::placeholder {
    color: #aaa; /* Серый цвет для подсказки */
    opacity: 1; /* Обеспечиваем полную непрозрачность */
  }
  
  input:focus::placeholder,
  select:focus::placeholder {
    color: transparent; /* Прозрачный цвет при фокусе */
  }
  
  input, select {
      font-size: 16px;
      padding: 12px;
  }

  button {
      font-size: 18px;
      padding: 12px;
  }

  h2 {
      font-size: 24px;
  }
}

/* Адаптация для мобильных устройств */
@media screen and (max-width: 768px) {
  .form-container {
      padding: 15px;
  }

  input, select {
      font-size: 14px;
      padding: 8px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }

  h2 {
      font-size: 20px;
  }
}
body {
 
  font-size: 18px;
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, white, rgb(97, 151, 186));;
  color: #fff;
}

:root {
  --color-primary: rgb(40, 115, 165);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0;

}

nav > :is(h1, span.material-symbols-outlined) {
  width: 34px;
  height: 34px;
  display: grid;
  place-items: center;
}
nav h1 {
  color: rgb(40, 115, 165);
  background: white;
  border-radius: 8px;
  font-size: 16px;
}

nav span {
  color: #fff;
  font-size: 20px;
}

a {
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 70px;
}

.menu li {
  display: inline-block;
  width: 80px;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.menu li:hover .submenu {
  height: 85px;
}

.menu > li:hover > a {
  color: black;
}

.menu > li:hover > a::before {
  visibility: visible;
  scale: 1 1;
}

.submenu {
  overflow: hidden;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: var(--color-primary);
  height: 0;
  line-height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}
.menu li .submenu a {
  color: #fff;
  opacity: 0;
  font-size: 16px;
  transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
  opacity: 1;
}

.menu > li .submenu a:hover {
  background: rgb(0 0 0 / 20%);
}

.menu > li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  height: 100%;
  transition: 0.3s;
}

.menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0px;
  background-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
  scale: 0 0;
  visibility: hidden;
}
